.background-image {
    width: 100%;
    height: 100vh;
    background-image: url(https://images5.alphacoders.com/390/390465.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    width: 65%;
    height: 90%;
    background-color: rgb(255, 218, 10);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .title {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 25px;
    font-weight: bold;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  
  .data {
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  
  .line {
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: rgb(7, 136, 241);
    height: 3px;
    width: 80%;
  }
  
  .sub-title {
    font-size: 18px;
    font-weight: bold;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  
  .photo {
    height: 500px;
    width: 300px;
    background-color: rgb(255, 218, 10);
  }
  
  .image {
    width: 100%;
  }
  
  .products {
    margin-top: 25px;
    margin-bottom: 15px;
    width: 80%;
    font-size: 14px;
    font-family: Georgia, "Times New Roman", Times, serif;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .product {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  